body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top {
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-row {
  width: 500px;
  height: 100px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#guess-rows {
  width: 500px;
  height: 100px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#code {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  /* padding-bottom: 20px; */
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}
#color-set {
  width: 100px;
  height: 80px;
  /* background-color: aliceblue; */
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.color-set {
  width: 100px;
  height: 80px;
  /* background-color: aliceblue; */
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#main-guess-row {
  width: 300px;
  height: 80px;
  margin: 5px;
  background-color: rgb(194, 163, 127);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-guess-row{
  width: 300px;
  height: 80px;
  margin: 5px;
  background-color: rgb(221, 238, 174);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.control {
  margin: 5px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.hole {
  width: 30px;
  height: 30px;
  background: radial-gradient(circle at 15px 15px, #000, rgb(77, 46, 29));
  border-radius: 15px;
}
.feedback {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.feedback-hole {
  margin: 5px;
  width: 15px;
  height: 15px;
  background: radial-gradient(circle at 7px 7px, #000, rgb(77, 46, 29));
  border-radius: 8px;
}

.red {
  background: radial-gradient(circle at 10px 10px, red, #494949);
}
.yellow {
  background: radial-gradient(circle at 10px 10px, yellow, #494949);
}
.green {
  background: radial-gradient(circle at 10px 10px, green, #494949);
}
.blue {
  background: radial-gradient(circle at 10px 10px, blue, #494949);
}
.orange {
  background: radial-gradient(circle at 10px 10px, orange, #494949);
}
.white {
  background: radial-gradient(circle at 10px 10px, white, #494949);
}
.selectedColor {
  border: solid lightsalmon;
  border-radius: 50%;
}
